.btn:focus, .btn:active:focus, .btn.active:focus input:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.form-control:focus, .form-check-input:focus, .form-select:focus, .link:focus {
    box-shadow: none;
}

.btn-custom {
}

.btn-custom:hover {
    color: #007bff;
}

body.dark-mode {
    background-color: #222;
    color: #fff;
}